<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.tulupov.alex.teachme">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".MyApplications"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.activivties.MainActivity" />
        <activity
            android:name=".views.activivties.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activivties.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activivties.SelectSearchActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activivties.ListTeachersActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activivties.ShowTeacherActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activivties.QuickSearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activivties.MainSearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".views.activivties.ChangeTeacherProfileActivity" />
        <activity
            android:name=".views.activivties.ChangePasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".views.activivties.ChangeEmailActivity" />
        <activity
            android:name=".views.activivties.SelectChangesActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>